@keyframes selectItem {
    from {background-color: #494991;}
    to {background-color: #a55eea;}
}

body {
    font-family: Tahoma;
}

.navbar  {
    width: 99%;
    background-color: #494991;
    overflow: auto;
    border-radius: 8px;
    padding: 8px 8px 8px 8px;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.pic {
    float: left;
    height: 50px;
    width: 50px;
    border-right: 20px;
    border-radius: 8px;
    margin-right: 10px;

}

a.logout {
    float: right;
    margin-right: 10px;
}

.navbar a.option:hover, a.active:hover, a.logout:hover {
    border-radius: 10px;
    animation-name: selectItem;
    animation-duration: .2s;
    background-color: #a55eea;
}

a.user {
    color: darkgrey;
    float: right;
}